.group {
    margin: 1em auto;
    max-width: 700px;
    padding: 1em; 
}

.input {
    -webkit-transition: border 0.3s;
    border:2px solid #D2ECF9; 
    border-radius: 2px;
    font-family: inherit;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px;
    transition: border 0.2s;
    width: 100%;
}

.input:active,.input:focus {
    border-bottom: 2px solid #1891AC;
}

.input:hover {
    outline: none;
}