.VideoView {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    /*border: 2px solid #253B6E;*/
}

.VideoOne {
    width: 70%;
}

.VideoList {
    width: 30%;
    min-height: 320px;
    max-height: 497px;
    overflow: auto;
    color:var(--grey);
    background-color: var(--white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.VideoListItem {
    padding: 15px 30px 15px 15px;
}

.VideoListItem:hover {
    cursor: pointer;
}

.VideoListItem:nth-child(odd) {
    background-color: var(--arsenic);
    color: var(--white);
}

@media only screen and (max-width: 1200px) {
    .VideoView {
        display: block;
        padding: 20px;
    }

    .VideoList, .VideoOne {
        width: 100%;
    }

    .VideoList {
        border-radius: 10px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
}
